*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    background: red;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 35px;
    color: white;
    user-select: none;
}

.navigation a{
    position: relative;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    border: 2px solid white;
    border-radius: 6px;
}

.navigation a:hover{
    background-color: aqua;
}

.page_header{
    color: black;
}